<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popular Movie Images</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body> 
    <h1>{{ category.title() }} Movie Images</h1>

    <form action="/library" method="GET">
        <button type="submit">Library</button>
    </form>
    
    <form action="/profile" method="GET">
        <button type="submit">profile</button>
    </form>

    <form action="/recommendations" method="GET">
        <button type="submit">Recommendations</button>
    </form>

    <form action="/home" method="POST">
        <button type="submit" name="button_value" value="popular">Popular</button>
        <button type="submit" name="button_value" value="top_rated">Top Rated</button>
        <button type="submit" name="button_value" value="upcoming">Upcoming</button>
    </form>

    <div>
        {% for movie in result %}
            <div class="movie-container">
                <img src="{{ movie['image_url'] }}" alt="Movie Image">
                <div class="movie-title">{{ movie['title'] }}</div>
                <div class="movie-vote">{{ movie['vote_average'] }}</div>
            </div>
        {% endfor %}
    </div>

</body>
</html>
